.modalDetail {
  margin-top: 30px;
  padding: 1rem 2rem;
  width: 100%;
  height: 120%;
  margin-top: -20%;
  position: fixed;
  background: rgba(0, 0, 0, 0.24);
  z-index: 1;
}

.modalDetail .modalContainer {
  margin-top: 8%;
  margin-left: 20%;
  width: 1000px;
  height: 550px;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
}

.modalDetail .modalContainer .closeBtn {
  margin-left: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.5s;
}
.modalDetail .modalContainer .closeBtn:hover {
  color: orange;
  transform: scale(1.1);
}
.modalDetail .modalContainer .modalBox {
  max-width: 100%;
  display: flex;
  padding: 20px 30px;
  margin-top: 20px;
  justify-content: space-between;
}
.modalDetail .modalContainer .modalBox .modalImg {
  padding: 20px 30px;
  background: #f1f1f1;
  width: 400px;
  display: flex;
  justify-content: center;
}
.modalDetail .modalContainer .modalBox .modalImg img {
  width: 300px;
}
.modalDetail .modalContainer .modalBox .extraDetail {
  margin-left: 30px;
  margin-top: 10px;
}
.modalDetail .modalContainer .modalBox .extraDetail h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 200;
  color: #9a9a9a;
  letter-spacing: 1px;
}
.modalDetail .modalContainer .modalBox .extraDetail h2 {
  margin-top: 30px;
  font-size: 30px;
  color: #010f1c;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.modalDetail .modalContainer .modalBox .extraDetail h3 {
  margin-top: 15px;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 1px;
  color: #010f1c;
}
.modalDetail .modalContainer .modalBox .extraDetail button {
  margin-top: 30px;
  padding: 15px 40px;
  font-size: 18px;
  color: #fff;
  background: #010f1c;
  transition: 0.5s;
  border: none;
  outline: none;
  cursor: pointer;
}
.modalDetail .modalContainer .modalBox .extraDetail button:hover {
  background: orange;
  transform: scale(1.1);
}
