.outlet {
  padding: 2rem 3rem;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-left: 6rem;
}
.outlet .outTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
  font-family: roboto;
  border-bottom: 1px solid #e2e0e0;
  padding-bottom: 3rem;
}
.outlet .outContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  transition: transform 0.5s ease;
}
.outlet .outContainer .outletBox {
  padding: 1rem 2rem;
  overflow: hidden;
  width: 300px;
  height: 400px;
  border: 1px solid #e2e0e0;
  border-radius: 1.5%;
  transition: 0.5s;
}
.outlet .outContainer .outletBox:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}
.outlet .outContainer .outletBox .outletImg {
  display: flex;
  justify-content: space-between;
}

.outlet .outContainer .outletBox .outletImg img {
  width: 100%;
  margin-right: 3rem;
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #e2e0e0;
}

.outlet .outContainer .outletBox .outletImg .outIcon {
  position: relative;
  z-index: 1;
  right: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  transition: 0.5s;
}
.outlet .outContainer .outletBox:hover .outletImg .outIcon {
  transform: translateX(-60px);
}
.outlet .outContainer .outletBox .outletImg .outIcon li {
  color: #010f1c;
  background-color: #fff;
  cursor: pointer;
  padding: 10px 10px;
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.5s;
}

.outlet .outContainer .outletBox .outletImg .outIcon li:hover {
  background-color: orange;
  color: #fff;
}

.outlet .outContainer .outletBox .outDetail p {
  color: #9a9a9a;
  font-size: 14px;
}
.outlet .outContainer .outletBox .outDetail h3 {
  color: #010f1c;
  font-family: gabarito;
}
.outlet .outContainer .outletBox:hover .outDetail h3 {
  color: rgb(116, 135, 210);
}

.outlet .outContainer .outletBox .outDetail h4 {
  margin-top: 2rem;
  font-size: 14px;
  letter-spacing: 1px;
  color: #9a9a9a;
}
.outlet .outContainer .sldLeft,
.sldRigth {
  font-size: 50px;
  display: flex;
  margin-top: 7rem;
  cursor: pointer;
  opacity: 1;
  color: orange;
  position: absolute;
}

.outlet .outContainer .sldLeft {
  left: 3rem;
}
.outlet .outContainer .sldRigth {
  right: 3rem;
}

.outlet .outContainer .sldLeft:hover,
.sldRigth:hover {
  opacity: 0.5;
  transition: 0.5s;
}
