* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

.products {
  padding: 2rem 3rem;
  width: 100%;
}

.products h2 {
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: #010f1c;
}

.products p {
  margin-top: 1rem;
  color: #9a9a9a;
}

.products .productsContainer {
  margin-top: 1.5rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.products .productsContainer .filter {
  padding: 1rem 2rem;
}
.products .productsContainer .filter .categories h3 {
  color: #010f1c;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
.products .productsContainer .filter .categories ul {
  margin-top: 1rem;
}
.products .productsContainer .filter .categories ul li {
  list-style: none;
  color: #010f1c;
  cursor: pointer;
  margin-top: 1.2rem;
}

.products .productsContainer .productBox {
  margin-right: 10%;
}
.products .productsContainer .productBox .productContant {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 15rem;
}
.products .productsContainer .productBox .productContant .product {
  padding: 1rem 1rem;
  overflow: hidden;
  width: 300px;
  height: 400px;
  border: 1px solid #e2e0e0;
  border-radius: 1.5%;
  transition: 0.5s;
  margin-bottom: 20px;
  cursor: pointer;
  margin-right: 20px;
}
.products .productsContainer .productBox .productContant .product:hover {
  transform: scale(1);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.products .productsContainer .productBox .productContant .product .productImg {
  display: flex;
  width: 100%;
  margin-right: 3rem;
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #e2e0e0;
}
.products
  .productsContainer
  .productBox
  .productContant
  .product
  .productImg
  img {
  width: 80%;
}
.products
  .productsContainer
  .productBox
  .productContant
  .product
  .productImg
  .productIcon {
  position: relative;
  z-index: 1;
  right: -5rem;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  transition: 0.5s;
}
.products
  .productsContainer
  .productBox
  .productContant
  .product:hover
  .productImg
  .productIcon {
  transform: translateX(-60px);
}
.products
  .productsContainer
  .productBox
  .productContant
  .product
  .productImg
  .productIcon
  li {
  color: #010f1c;
  background-color: #fff;
  cursor: pointer;
  padding: 10px 10px;
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.5s;
}
.products
  .productsContainer
  .productBox
  .productContant
  .product
  .productImg
  .productIcon
  li:hover {
  background-color: orange;
  color: #fff;
}
.products
  .productsContainer
  .productBox
  .productContant
  .product
  .productDetail
  p {
  color: #9a9a9a;
  font-size: 14px;
}
.products
  .productsContainer
  .productBox
  .productContant
  .product
  .productDetail
  h3 {
  color: #010f1c;
  font-family: gabarito;
}
.products
  .productsContainer
  .productBox
  .productContant
  .product:hover
  .productDetail
  h3 {
  color: rgb(116, 135, 210);
}
.products
  .productsContainer
  .productBox
  .productContant
  .product
  .productDetail
  h4 {
  margin-top: 1rem;
  font-size: 14px;
  letter-spacing: 1px;
  color: #9a9a9a;
}

.modalDetail {
  margin-top: 30px;
  padding: 1rem 2rem;
  width: 100%;
  height: 120%;
  margin-top: -20%;
  position: fixed;
  background: rgba(0, 0, 0, 0.24);
  z-index: 1;
}

.modalDetail .modalContainer {
  margin-top: 8%;
  margin-left: 20%;
  width: 1000px;
  height: 550px;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
}

.modalDetail .modalContainer .closeBtn {
  margin-left: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.5s;
}
.modalDetail .modalContainer .closeBtn:hover {
  color: orange;
  transform: scale(1.1);
}
.modalDetail .modalContainer .modalBox {
  max-width: 100%;
  display: flex;
  padding: 20px 30px;
  margin-top: 20px;
  justify-content: space-between;
}
.modalDetail .modalContainer .modalBox .modalImg {
  padding: 20px 30px;
  background: #f1f1f1;
  width: 400px;
}
.modalDetail .modalContainer .modalBox .modalImg img {
  width: 300px;
}
.modalDetail .modalContainer .modalBox .extraDetail {
  margin-left: 30px;
  margin-top: 10px;
}
.modalDetail .modalContainer .modalBox .extraDetail h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 200;
  color: #9a9a9a;
  letter-spacing: 1px;
}
.modalDetail .modalContainer .modalBox .extraDetail h2 {
  margin-top: 30px;
  font-size: 30px;
  color: #010f1c;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.modalDetail .modalContainer .modalBox .extraDetail h3 {
  margin-top: 15px;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 1px;
  color: #010f1c;
}
.modalDetail .modalContainer .modalBox .extraDetail button {
  margin-top: 30px;
  padding: 15px 40px;
  font-size: 18px;
  color: #fff;
  background: #010f1c;
  transition: 0.5s;
  border: none;
  outline: none;
  cursor: pointer;
}
.modalDetail .modalContainer .modalBox .extraDetail button:hover {
  background: orange;
  transform: scale(1.1);
}
